* {
    color: rgb(255, 255, 255)
}

.custom-bg-dark{
    background-color: #5974be !important;
}

nav.navbar{
    height: 6rem;
}

a.navbar-brand{
    text-transform: uppercase;
    letter-spacing: 3px;
}

li.nav-item a{
    text-transform: uppercase;
}

div#app-container{
    position: fixed;
    top: 96px;
    left: 0px;
    bottom: 96px;
    width: 100%;
    padding: 2rem;
    background-color: #a1a9cc;
    overflow: auto;
}

footer#custom-footer{
    height: 6rem;
    background-color: #000000;
    font-size: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

div#custom-home{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form.custom-form {
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.modal-title,
.modal-body p {
    color: #000 !important;
}
